* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #fff;

}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 40px;
    opacity: 0;
    height: 100vh;
    transition: 0.5s linear;
}

header.is-visible {
    opacity: 1;
}

header .border-container {
    position: absolute;
    top: 0;
    left: 5%;
    margin: 0 auto;
    margin-top: 90px;
    height: calc(100vh - 150px);
    width: 90%;
    /* border-right: 1px solid #fff; */
    border-left: 1px solid #fff;
}

header .border-container .dots-container {
    height: 30%;
    width: 30px;
    position: absolute;
    right: -15px;
    top: 35%;
    display: grid;
    align-items: center;
}

header .border-container .dots-container .dot {
    border: #fff 1px solid;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    transition: .5s;
}

.dot.active {
    background-color: #fff;
}

header .border-container .b {
    width: 5%;
    height: 10px;
    position: absolute;
}

header .border-container .b_tl {
    border-top: 1px solid #fff;
    top: 0;
    left: 0;
}

header .border-container .b_tr {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 0;
    right: 0;
    height: 35%;
}

header .border-container .b_bl {
    border-bottom: 1px solid #fff;
    bottom: 0;
    left: 0;
}

header .border-container .b_br {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    bottom: 0;
    right: 0;
    height: 35%;
}

nav {
    height: 60px;
    padding: 30px 7% 10px;
    display: grid;
    grid-template-columns: 2fr 2fr 5fr;
    color: #fff;
}

.nav-logo {
    grid-column: 1/2;

}

.nav-logo img {
    height: 40px;
    display: inline-block;
    padding: 10px;
}

.nav-logo img#logo_img {
    padding: 0;
}

.nav-container {
    grid-column: 3/4;

}

nav ul {
    right: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

nav ul li {
    display: block;
    padding: 10px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: .5s;
    z-index: 3;
}

nav ul li.active a {
    border-bottom: 1px solid #fff;
}

.border-frame {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 80px;
}

.border-frame .border {
    height: 100%;
    width: 100%;
    border: 5px solid #fff;

}


main {
    z-index: 1;
    overflow-y: hidden;
}

section {
    width: 100%;
    height: 90vh;
    position: relative;
    padding-top: 3%;
}

h2 {
    font-size: 46px;
    font-weight: 300;
    padding: 20px 0;
}

p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 150%;
    text-align: justify;
}

.container {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    z-index: 1;
}

.container h2 {
    padding-top: 4%;
    padding-left: 10%;
}

.container .about {
    padding-top: 3%;
    width: 50%;
    margin: 0 auto;
    height: 80%;
}

.container .about iframe {
    width: 100%;
    height: 100%;
    opacity: 1;
}

#front .scroller {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    text-align: center;
    z-index: 1;
    transform: translate(-50%, -50%) matrix(1, 0.2, -0.2, 0.8, 0, 0);
}

#front .scroller a {
    display: block;
    width: 50px;
    margin: 0 auto;
}

.btn-down {
    color: #fff;
    text-decoration: none;
}

.btn {
    background-color: #000;
    color: #fff;
    width: 260px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    line-height: 60px;
    text-decoration: none;
}


#contact .container .about {
    padding-top: 12%;
    width: 36%;
}

#contact .container .about h3 {
    font-size: 34px;
    font-weight: 300;
    padding-bottom: 20px;
}

.next_section {
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #555;
    z-index: 2;
}

.background-pattern {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    z-index: -1;
}

.pat {
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pat1 {
    top: 20%;
    left: 0;
    width: 50vw;
    height: 50vw;
    background-image: url(../img/triangles_1.png);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    animation: pat1 40s linear infinite;
}

.pat2 {
    top: 20%;
    left: 80%;
    width: 40vw;
    height: 44vw;
    background-image: url(../img/triangles_3.png);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    animation: pat2 30s linear infinite;
}

.pat3 {
    top: 320%;
    right: 80%;
    width: 50vw;
    height: 43vw;
    background-image: url(../img/triangles_1.png);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    animation: pat3 30s linear infinite;
}

.pat4 {
    top: 400%;
    left: 70%;
    width: 60vw;
    height: 53vw;
    background-image: url(../img/triangles_1.png);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    animation: pat4 40s linear infinite;
}

.bg-overlay {
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 1;
}

.job-modal {
    display: none;
    background-color: #333333f4;
    width: 70vw;
    height: 70vh;
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 2;
    transition: 1s;
    padding: 100px;
}

.img-modal {
    display: none;
    background-color: #333333f4;
    width: 70vw;
    height: 70vh;
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 2;
    transition: 1s;
    padding: 100px;
}

.img-modal img {
    width: 100%;
}

.close-btn-job,
.close-btn-img {
    color: #fff;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 40px;
}

@keyframes pat1 {
    20% {
        top: 30%;
        left: 10%;
        transform: rotate(15deg) scale(0.9);
    }

    40% {
        top: 40%;
        left: 10%;
        transform: rotate(55deg) scale(0.8);
        opacity: 0.8;
    }

    60% {
        top: 37%;
        left: 2%;
        transform: rotate(95deg) scale(1.1);
    }

    80% {
        top: 31%;
        left: -6%;
        transform: rotate(43deg) scale(1.2);
        opacity: 0.7;
    }

    100% {
        top: 20%;
        left: 0%;
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes pat2 {
    20% {
        top: 12%;
        left: 85%;
        transform: rotate(40deg) scale(0.9);
        opacity: 0.9;
    }

    40% {
        top: 2%;
        left: 74%;
        transform: rotate(98deg) scale(0.8);
    }

    60% {
        top: -10%;
        left: 67%;
        transform: rotate(150deg) scale(1);
        opacity: 0.7;
    }

    80% {
        top: 12%;
        left: 60%;
        transform: rotate(270deg) scale(1.1);
    }

    100% {
        top: 20%;
        left: 80%;
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}

@keyframes pat3 {
    20% {
        top: 312%;
        right: 85%;
        transform: rotate(40deg) scale(0.9);
        opacity: 0.9;
    }

    40% {
        top: 302%;
        right: 74%;
        transform: rotate(98deg) scale(0.8);
    }

    60% {
        top: 290%;
        right: 67%;
        transform: rotate(150deg) scale(1);
        opacity: 0.7;
    }

    80% {
        top: 312%;
        right: 60%;
        transform: rotate(270deg) scale(1.1);
    }

    100% {
        top: 320%;
        right: 80%;
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}

@keyframes pat4 {
    20% {
        top: 392%;
        left: 75%;
        transform: rotate(40deg) scale(0.9);
        opacity: 0.9;
    }

    40% {
        top: 382%;
        left: 64%;
        transform: rotate(98deg) scale(0.8);
    }

    60% {
        top: 370%;
        left: 57%;
        transform: rotate(150deg) scale(1);
        opacity: 0.7;
    }

    80% {
        top: 392%;
        left: 50%;
        transform: rotate(270deg) scale(1.1);
    }

    100% {
        top: 400%;
        left: 70%;
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}