@keyframes pat1 {
    20% {
        top: 30%;
        left: 10%;
        transform: rotate(15deg) scale(0.9);
    }

    40% {
        top: 40%;
        left: 10%;
        transform: rotate(55deg) scale(0.8);
        opacity: 0.8;
    }

    60% {
        top: 37%;
        left: 2%;
        transform: rotate(95deg) scale(1.1);
    }

    80% {
        top: 31%;
        left: -6%;
        transform: rotate(43deg) scale(1.2);
        opacity: 0.7;
    }

    100% {
        top: 20%;
        left: 0%;
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes pat2 {
    20% {
        top: 12%;
        left: 85%;
        transform: rotate(40deg) scale(0.9);
        opacity: 0.9;
    }

    40% {
        top: 2%;
        left: 74%;
        transform: rotate(98deg) scale(0.8);
    }

    60% {
        top: -10%;
        left: 67%;
        transform: rotate(150deg) scale(1);
        opacity: 0.7;
    }

    80% {
        top: 12%;
        left: 60%;
        transform: rotate(270deg) scale(1.1);
    }

    100% {
        top: 20%;
        left: 80%;
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}

@keyframes pat3 {
    20% {
        top: 312%;
        right: 85%;
        transform: rotate(40deg) scale(0.9);
        opacity: 0.9;
    }

    40% {
        top: 302%;
        right: 74%;
        transform: rotate(98deg) scale(0.8);
    }

    60% {
        top: 290%;
        right: 67%;
        transform: rotate(150deg) scale(1);
        opacity: 0.7;
    }

    80% {
        top: 312%;
        right: 60%;
        transform: rotate(270deg) scale(1.1);
    }

    100% {
        top: 320%;
        right: 80%;
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}

@keyframes pat4 {
    20% {
        top: 392%;
        left: 75%;
        transform: rotate(40deg) scale(0.9);
        opacity: 0.9;
    }

    40% {
        top: 382%;
        left: 64%;
        transform: rotate(98deg) scale(0.8);
    }

    60% {
        top: 370%;
        left: 57%;
        transform: rotate(150deg) scale(1);
        opacity: 0.7;
    }

    80% {
        top: 392%;
        left: 50%;
        transform: rotate(270deg) scale(1.1);
    }

    100% {
        top: 400%;
        left: 70%;
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}