#cont {
    .container .about {
        width: 80%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
        grid-column-gap: 5%;
        padding-top: 0;
    }

    .contact_data {
        padding-top: 30%;
    }


    .contact_form {
        position: relative;
        top: 30px;

        label,
        input,
        textarea {
            display: block;
            padding: 5px 0;
            font-size: 18px;
        }

        label {
            font-weight: 300;
        }

        input,
        textarea {
            width: 100%;
            border: none;
            background-color: #ffffff11;
            color: #fff;
            padding: 10px;
        }

        #send_btn {
            margin-top: 60px;
            width: 200px;
            font-weight: bold;
            transition: .4s;
            z-index: 2;
        }

        #send_btn:hover {
            transform: scale(1.1);
            background-color: #ffffff22;
        }
    }
}

@media screen and (max-width: 1024px) {
    #cont {
        .contact_data {

            h3 {
                font-size: 32px;
            }
        }

        .contact_form {

            label,
            input,
            textarea {
                padding: 5px 0;
                font-size: 16px;
            }

            #send_btn {
                margin-top: 20px;
            }

            .g-recaptcha {
                transform: scale(0.8);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #cont {
        .container .about {
            grid-template-columns: auto;
        }

        .contact_data {
            grid-row: 2/3;
            padding-top: 10px;

            h3 {
                font-size: 26px;
            }
        }

        .contact_form {
            position: relative;
            top: 0;
            grid-row: 1/2;

            label,
            input,
            textarea {
                padding: 5px 0;
                font-size: 14px;
            }

            label {
                font-weight: 300;
            }

            input,
            textarea {
                width: 100%;
                border: none;
                background-color: #ffffff11;
                color: #fff;
                padding: 5px;
            }

            .input-wrapper {
                width: 100%;
                display: inline-block;
            }

            .input-wrapper.f_name {
                width: 49%;
            }

            .input-wrapper.s_name {
                width: 49%;
            }

            #send_btn {
                margin-top: 0;
                width: 200px;
                font-weight: bold;
                transition: .4s;
                z-index: 2;
            }

            #send_btn:hover {
                transform: scale(1.1);
                background-color: #ffffff22;
            }

            .g-recaptcha {
                transform: scale(0.6);
            }
        }
    }
}